h1 {
    font-family: "American Typewriter", monospace;
    font-size: 36pt;
    padding-left: 10pt;
}

h2 {
    font-family: "American Typewriter", monospace;
    font-size: 28pt;
    font-style: italic;
    padding-left: 10pt;
}

p,
li {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 16pt;
}

html {
	background-color: #eee;
	padding-left: 40pt;
	padding-right: 30pt;
}	

strong {
}
