h1 {
    font-family: "American Typewriter", monospace;
    font-size: 48pt;
    padding-left: 10pt;
}

h2 {
    font-family: "American Typewriter", monospace;
    font-size: 36pt;
    font-style: italic;
    padding-left: 10pt;
}

h3 {
    font-family: "American Typewriter", monospace;
    font-size: 20pt;
    font-style: bold;
    padding-left: 0pt;
}

p, li {
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
    font-size: 15pt;
}

small {
	font-size: 12pt;
}

html {
	background-color: #eee;
	padding-left: 40pt;
	padding-right: 30pt;
}	

